name: Build STM32 Project

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install ARM GCC Toolchain
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc-arm-none-eabi build-essential

    - name: Set up CMake
      uses: lukka/get-cmake@v3.27.7

    - name: Check CMake installation
      run: |
        which cmake
        cmake --version

    - name: Create build directory
      run: mkdir build

    - name: Configure CMake with ARM toolchain
      run: cmake -S . -B build -DCMAKE_TOOLCHAIN_FILE=cmake/gcc-arm-none-eabi.cmake -DCMAKE_BUILD_TYPE=Debug

    - name: Build
      run: cmake --build build
        